<!--
best to hasve just 1 h1 per page...better for SEO -->

<link rel="application" href="css/application.css">

<h1> Welcome to <em>my about page! </em> :) </h1>
<br>
<h3>Just trying to...</h3>
<li>list</li>
<li>some</li>
<li>things</li>

<br>

<%= link_to "Home", root_path %>
