<h1>all the restaurants appear here</h1>

<% @restaurants.each do |restaurant| %>
<h2> Restaurant name: <%= restaurant.name %> </h2> <p> rating: <%= restaurant.rating %>  address: <%= restaurant.address %> </p>


<% end %>
